	<%- if controller_name != 'sessions' %>
	<div class="row">
		<div class="col-md-4">
		  <p><%= link_to "Log in", new_session_path(resource_name) %></p>
		</div>
	</div><br />
	<% end -%>

	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	<div class="row">
		<div class="col-md-4">
		  <p><%= link_to "Sign up", new_registration_path(resource_name) %></p>
		</div>
	</div><br />
	<% end -%>

	<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
	<div class="row">
		<div class="col-md-8">
		  <p><%= link_to "Forgot your password?", new_password_path(resource_name) %></p>
		</div>
	</div><br />
	<% end -%>

	<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
	<div class="row">
		<div class="col-md-4">
		 <p> <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></p>
		</div>
	</div><br />
	<% end -%>

	<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
	<div class="row">
		<div class="col-md-4">
		  <p><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></p>
		</div>
	</div><br />
	<% end -%>

	<%- if devise_mapping.omniauthable? %>
	  <%- resource_class.omniauth_providers.each do |provider| %>
	    <div class="row">
		  <div class="col-md-4">
		    <p><%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider) %></p>
		  </div>
		</div><br />
	  <% end -%>
	<% end -%>
</div>