<!-- Main jumbotron for a primary marketing message or call to action -->
<% if params[:controller] == 'about' %>
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Links to laugh</h1>
          <p>Site produzido pelos alunos Caio César de Almeida Beleza e Rossicler Rodrigues Pires Júnior da UnB FGA
          	 na disciplina de Orientação a Objetos do segundo semestre de 2017</p>
        </div>
      </div>
<% end %>