<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-4"> 
    <div class="form-group">
      <%= form.label :Name %><br/>
      <%= form.text_field :Group, id: :group_Group, class: "form-control", autofocus: true %>
    </div>

    <div class="form-group">
      <%= form.label :url %><br/>
      <%= form.text_field :url, id: :group_url, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :Description %><br/>
      <%= form.text_field :nameurl, id: :group_nameurl, class: "form-control" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
</div>
<% end %>
