<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to 'New Post', new_group_path, class: "btn btn-default" %>
    </p>
  </div>
</div>

    <% @groups.each_slice(2) do |slice| %>
    <!-- Example row of columns -->
        <div class="row">
          <% slice.each do |group| %>
          <div class="col-md-6">
            <h2><%= group.Group %></h2>
            <p>
              <% url_embed = "https://www.youtube.com/embed/" + YouTubeAddy.extract_video_id(group.url) %>
              <iframe width="560" height="315" src="<%= url_embed %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe><br>
            </p>
            <p><%= group.nameurl %> </p>
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
             <div class="btn-group" role="group">
              <%= link_to 'Edit', edit_group_path(group), class: "btn btn-default" %>
             </div>
             <div class="btn-group" role="group">
              <%= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }, 
              class: "btn btn-default" %>
             </div>
            </div>
          </div>
          <% end -%>
        </div>
    <% end -%>

<br>

<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to 'New Post', new_group_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
  
