<h1>New Group</h1>

<%= render 'form', group: @group %>

<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to 'Back', groups_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
