<p id="notice"><%= notice %></p>

<p>
  <h2>Name of the post:</h2>
  <h3><%= @group.Group %></h3>
</p>
<p>
  <% url_embed = "https://www.youtube.com/embed/" + YouTubeAddy.extract_video_id(@group.url) %>
  <iframe width="560" height="315" src="<%= url_embed %>" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe><br>
</p>
<p>
  <h2>Description:</h2>
  <h5><%= @group.nameurl %></h5>
</p>
  
<div class="row">
  <div class="col-md-4">
    <p>
      <%= link_to 'Back', groups_path, class: "btn btn-default" %>
    </p>
  </div>
</div>
