<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

<div class="col-md-4">
  <div class="input-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
    <span class="input-group-addon" id="basic-addon1">@example.com</span>
  </div><br/>

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-primary" %>
  </div><br/>
  <%= render "users/shared/links" %>
</div>
<% end %>
