<!DOCTYPE html>
<html>
  <head>
    <title>Links To Laugh</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="icon" href="../../../../favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="jumbotron.css" rel="stylesheet">
  </head>

  <body>
     <nav class="navbar navbar-inverse">
        <div class="container">
          <ul class="nav navbar-nav">
            <li><%= link_to "Links to laugh", root_path %></li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
            </ul>
          <% if user_signed_in? %>
          <ul class="nav navbar-nav navbar-right">
           <li>
            <%= current_user.name %>
           </li>
           <li>
            <%= link_to "Sign out", destroy_user_session_path, :method => 'delete' %> 
           </li>
          </ul>
          <% end %>
      </div>
    </nav>

    <%= render 'partials/jumbotron' %>

    <main role="main">


      <div class="container">
        <%= yield %>

        <hr>

      </div> <!-- /container -->

    </main>

    <%= render 'partials/footer' %>

  </body>
</html>
