<h2>Registrar</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<div class="col-md-4">
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.text_field :name, autofocus: true, placeholder: "Username", class: "form-control" %>
  </div><br/>
  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.text_field :nickname, autofocus: true, placeholder: "Nickname", class: "form-control" %>
  </div><br/>

  <div class="input-group">
    <%= f.email_field :email, autofocus: true, placeholder: "Email", class: "form-control" %>
    <span class="input-group-addon" id="basic-addon1">@example.com</span>
  </div><br/>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <% if @minimum_password_length %>
    <% end %>
    <%= f.password_field :password, autocomplete: "off", placeholder: "Password (6 characters minimum)", class: "form-control" %>
  </div><br/>

  <div class="input-group">
    <span class="input-group-addon" id="basic-addon1">@</span>
    <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Password confirmation", class: "form-control" %>
  </div><br>

  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div><br/>

  <%= render "users/shared/links" %>

</div>
<% end %>
